--extra-index-url=https://packages.dea.ga.gov.au/
aiohttp
botocore
click==8.1.7
datacube[s3,performance]==1.8.19
dea-tools==0.3.4
eodatasets3==0.30.6
geopandas==0.14.4
matplotlib==3.9.1
mdutils
numpy==1.26.4
odc-algo==0.2.3
odc-geo==0.4.8
odc-ui
pandas==2.2.2
pyproj==3.6.1
pytest
pytest-dependency
pytest-cov
pyTMD==2.1.0
#pyTMD==2.1.4
pytz==2024.1
rasterio==1.3.10
rioxarray==0.17.0
seaborn==0.13.2
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
sunriset==1.0
shapely==2.0.5
tqdm==4.66.5
xarray==2024.7.0
xskillscore==0.0.24
