--find-links=https://packages.dea.ga.gov.au/hdstats/
aiohttp
awscli
botocore
Bottleneck==1.4.2
click==8.1.7
dask==2024.3.1
datacube[s3,performance]==1.8.19
dea-tools>=0.3.4
eodatasets3==0.30.6
eo-tides==0.6.3
hdstats==0.1.8.post1
geopandas==0.14.4
matplotlib==3.9.2
mdutils
numpy==1.26.4
odc-algo==0.2.3
odc-geo==0.4.8
odc-ui
pandas==2.2.3
pyogrio==0.10.0
pyproj==3.7.0
pytest==8.3.3
pytest-dependency
pytest-cov
pyTMD>=2.2.1
pytz==2024.1
rasterio==1.4.1
rioxarray==0.17.0
seaborn==0.13.2
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
sunriset==1.0
shapely==2.0.6
tqdm==4.66.5
xarray==2024.9.0
